body{
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    text-align: center;
}

h2{
    margin-top: 30px;
}

form{
    background: white;
    padding: 20px;
    width: 320px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

input, select{
    width: 90%;
    padding: 8px;
    margin-top: 5px;
}

button{
    background-color: #0077b6;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
    width: 100%;
}

button:hover{
    background-color: #023e8a;
}

.resultado{
    margin-top: 15px;
    font-weight: bold;
}